.container{
    height: 700px;
}

.row{
    height: 11%;
    border: 2px solid;
}
.col{
    border: 1px dotted;
}

img{
    width:30px;
    height:30px;
}

#top-container.container{
    height:200px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
 
}

h1,h6,p {
    text-align: center;

}

textarea {
    height:100%;
    width: 100%;
    background: transparent;

}
h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
}
h6{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium'; 
    margin: 15px;
}

p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    margin: 20px, 0px, 20px;
    margin-left: 80px ;

}
.container1{
   background-color: blueviolet; 

}